.QuestionBox2 {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    width: 90%;
    height: 400px;
    margin-left: 5%;


}

.Header {
    display: flex;
    background-color: white;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    color: gray;
    font-family: 'Courier New', Courier, monospace;
}

h3 {
    columns: #454545;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Flex-direction {
    display: flex;
    flex-direction: row;
    width: 95%;
    margin-right: 10%; 
}

.Buttons2 {
    display: flex;
    flex-direction: row;

}

.Cancel2 {
    width: 20%;
    border:none;
    padding: 25px;
    color: white;
    background-color: red;
    margin-left: 55%;
    margin-top: 2%;
    margin-right: 2%;
    border-radius: 12px;

}
.Add {
    width: 20%;
    border:none;
    padding: 15px;
    color: white;
    background-color: red;
    margin-top: 2%;
    border-radius: 12px;
}
